<!-- <div *ngFor="let task of tasks">
    <p>{{task.name}}</p>
</div> -->



  
  <body>
    <div class="wrapper">
      <div class="controls">
        <div class="filters">
          <span>Create Task</span>
        </div>
        <img src="https://www.svgrepo.com/show/286829/add-plus.svg" type="button" style="width: 25px;" (click)="openAdd()"/>
      </div>
      <ul class="task-box" *ngFor="let task of tasks">
        
        <li class="task">
            {{task.name}}
            <input class="form-check-input icon-li" type="checkbox" value="" id="defaultCheck1">
            <img class="icon-li" src="https://www.svgrepo.com/show/286705/forbidden-cancel.svg" type="button" style="width: 25px;" (click)="deleteTask(task.toDoID)"/> 
            <img class="icon-li" src="https://www.svgrepo.com/show/286751/edit.svg" type="button" style="width: 25px;" (click)="openEdit(task.toDoID)"/> 
            
        </li>
      </ul>
    </div>

  </body>

  